@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

:root{
    --primary-color: #1E40AF;
}
body{
    font-family: 'Montserrat', sans-serif;
}
/** container**/
.container {
    padding-left: 1em;
    padding-right: 1em;
}

.container-center{

    max-width: 600px;
    margin:auto;

}


.Link {
    text-decoration: none;
    padding: 0.5rem;
}

.link-primary {
    background-color: #1E40AF;
     border-radius: 0.5rem;
     color: white
  }
  
  
    
.link-secondary {
    color: #1E40AF;
    border-radius: 0.5rem;
    border: 1px solid #1E40AF;
     
     
    }
    /** look into bem naming in css**/
